:root {
    --primary-color: #382ef4;
    --secondary-color: #efedf9;
    --text-color: #111111;
    --background-color: #ffffff;
    --accent-color: #3f3e3e;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit' , sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    width: 100%;
}

.navbar {
    max-width: 1300px;
    margin: 0 auto;

    padding: 30px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    display:flex;
    align-items:center;
    gap:12px;
    cursor:pointer;
}

.logo img{
    width: 40px;
    height:auto;
    display:block;
}

.logo span{
    font-size:30px;
    font-weight:800;
    color:#111111;
    line-height:1;
    font-family: 'Bricolage Grotesque', sans-serif;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;

}

.nav-links .home-nav {
    color: var(--primary-color);
    font-weight: 600;
}

.nav-links a:hover {
    color: var(--primary-color);
}

.ath-buttons {
    display: flex;
    gap: 15px;
}


.trust-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0 8px;
}

.trust-badge img {
    width: 250px;
    display: block;
}

.login-btn {
    padding: 14px 30px;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
}

.signup-btn {
    padding: 14px 30px;
    background: var(--primary-color);
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 32px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
}

.hero {
    max-width: 13000px;
    margin: 0 auto;
    padding: 70px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 60px;
    line-height: 1.14;
    margin-bottom: 30px;
    font-weight: 700;
    max-width: 640px;
}

.hero-content p {
    max-width: 580px;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: var(--accent-color);
}

.cta-btn {
    border: none;
    padding: 18px 40px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 80px;
    color: var(--background-color);
    background-color: var(--primary-color);
    font-family: "Titillium Web", sans-serif;

}

.cta-btn:hover {
    transform: translateY(-2px);
    transition:  0.3s ease;
}

.platform-icons {
    display: flex;
    gap: 50px;
    align-items: center;
}  

.platform-icons img {
    height: 30px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 650px;
}

.why-trustpay {
    max-width: 1200px;
    margin: 120px auto;
    padding: 0 40px;
}

.section-header {
    text-align: center;
    margin-bottom: 70px;
}

.section-header h2 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-header p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.7;
    color: #666;
}

.features-container {
    display: flex;
    gap: 40px;
}

.feature-card {
    flex: 1;
    border-radius: 35px;
    overflow: hidden;
    padding: 40px;
    overflow: hidden;
}

.milestone-card {
    background: linear-gradient(180deg, var(--primary-color), #3726ef);
    color: #ffffff;
}

.feature-card h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.feature-card p {
    line-height: 1.5;
    margin-bottom: 40px;
}

.security-card {
    background: var(--secondary-color);
}

.feature-card img {
    width: 100%;
    display: block;
}

.powerful-features {
    max-width: 1200px;
    margin: 120px auto;
    padding: 0 40px;
}

.powerful-features .section-header {
    text-align: center;
    margin-bottom: 90px;
}

.section-header h2 {
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-header p {
    max-width: 650px;
    margin: auto;
    color: var(--accent-color);
    font-size: 20px;
    line-height: 1.5;

}

.feature-row {
    display: flex;
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;

}


.feature-image {
    flex: 1;
    display: flex;
    justify-content: center;
    background: var(--primary-color);
    border-radius: 30px;
}

.blue-bg {
    background: var(--primary-color);
    border-radius: 30px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-image img {
    width: 80%;
    max-width: 450px;
    display: block;
}

.feature-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}

.feature-content h3 {
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 600;
}

.feature-content p {
    color: var(--accent-color);

    line-height: 1.5;

    margin-bottom: 35px;
}

.feature-btn {
    background: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 16px 36px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    align-self: flex-end;
}

.feature-btn2 {
    background: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 16px 36px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    align-self: flex-start;
}

.feature-btn:hover {
    opacity: 0.9;
}

.manage-section {
    padding: 100px 40px;
}

.manage-box {
    max-width: 1700px;
    margin: auto;
    display: flex;  
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    padding: 0px 70px;
    border-radius: 30px;
    overflow: hidden;
}

.manage-content {
    flex: 1;
    max-width: 500px;
}

.manage-content h2 {
    color: var(--background-color);
    font-size: 50px;
    line-height: 1.3;
    margin-bottom: 15px;
}

.manage-content p {
    color: var(--background-color);
    line-height: 1.5;
    margin-bottom: 20px;
    font-size: 18px;
}

.manage-list {
    list-style: none;
    padding: 0;
    margin: 0 0 45px;
}

.manage-list li {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 16px;
    color: var(--background-color);
    line-height: 1.5;
}

.check-icon {
    width: 42px;
    height: 42px;
    background: var(--background-color);
    color: var(--primary-color);
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-weight: 600;
    flex-shrink: 0;
    justify-content: center;
}

.manage-btn {
    background: var(--background-color);
    color: var(--primary-color);
    border: none;
    padding: 18px 35px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: -60px;
    margin-top: -20px;
}

.manage-btn:hover {
    transform: translateY(-2px);
}

.manage-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.manage-image img {
    width: 250%;
    max-width: none;
    position: relative;
    top: 0px;
    right: -25px;
}



































































































































@media screen and (max-width: 1024px) {

    .navbar {
        padding: 25px 30px;
    }

    .nav-links {
        gap: 30px;
    }

    .auth-buttons {
        display: flex;
        gap: 10px;
    }

    .login-btn,
    .signup-btn {
        padding: 12px 22px;
    }


    .hero-content h1 {
    font-size: 56px;
}

.trust-badge {
    margin: 0 6px;
}

.trust-badge img {
    width: 200px;
}

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 60px 30px;
    }

    .hero-content h1 {
        font-size: 54px;
        max-width: 700px;
        margin: auto auto 30px;
    }

    .hero-content p {
        margin: 0 auto 40px;
    }

    .platform-icons {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-image img {
        max-width: 550px;
    }

    .features-container {
        flex-direction: column;
    }

    .feature-card {
        max-width: 800px;
        margin: auto;
    }

    .feature-row {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .feature-content {
        align-items: center;
    }

    .feature-content h3 {
        font-size: 36px;
    }

    .feature-btn,
    .feature-btn2 {
        align-self: center;
    }

    .feature-image img {
        width: 75%;
    }

    .manage-box {
        flex-direction: column;
        padding: 60px 40px;
        text-align: center;
    }

    .manage-content {
        max-width: 100%;
    }

    .manage-list li {
        text-align: left;
    }

    .manage-btn {
        margin: 20px auto 0;
    }

    .manage-image img {
        width: 120%;
        right: 0;
        top: 0;
    }
}


@media screen and (max-width: 768px) {

    .navbar {
        padding: 20px;
    }

    .nav-links,
    .auth-buttons {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .logo span {
        font-size: 28px;
    }

    .logo img {
        width: 42px;
    }

    .mobile-menu {
        display: none;
        flex-direction: column;
        gap: 20px;

        padding: 25px 20px;

        background: white;

        box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    }

    .mobile-menu a {
        text-decoration: none;
        color: black;
        font-size: 18px;
        font-weight: 500;
    }

    .mobile-menu.show {
        display: flex;
    }

    .logo {
        font-size: 26px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
        padding: 40px 20px 70px;
    }

.hero-content h1 {
    max-width: 100%;
    font-size: 40px;
    line-height: 1.2;
}

.trust-badge {
    margin: 0 4px;
}

.trust-badge img {
    width: 140px;
}

    .hero-content p {
        font-size: 18px;
    }

    .cta-btn {
        width: 100%;
        margin-bottom: 50px;
    }

    .platform-icons {
        flex-direction: column;
        gap: 20px;
    }

    .hero-image img {
        max-width: 100%;
    }

    .section-header {
        margin-bottom: 50px;
    }

    .section-header h2 {
        font-size: 38px;
    }

    .section-header p {
        font-size: 17px;
    }

    .why-trustpay {
        padding: 0 20px;
        margin: 80px auto;
    }

    .features-container {
        flex-direction: column;
        gap: 30px;
    }

    .feature-card {
        padding: 30px 25px;
    }

    .feature-card h3 {
        font-size: 30px;
    }

    .feature-card p {
        font-size: 16px;
    }

    .powerful-features {
        padding: 0 20px;
        margin: 80px auto;
    }

    .feature-row {
        flex-direction: column;
        gap: 40px;
        margin-bottom: 80px;
    }

    .feature-content {
        text-align: center;
        align-items: center;
    }

    .feature-content h3 {
        font-size: 32px;
    }

    .feature-content p {
        font-size: 16px;
    }

    .feature-btn,
    .feature-btn2 {
        align-self: center;
        width: 100%;
    }

    .feature-image img {
        width: 90%;
    }

    .manage-section {
        padding: 80px 20px;
    }

    .manage-box {
        flex-direction: column;
        text-align: center;
        padding: 50px 25px;
        overflow: hidden;
    }

    .manage-content {
        max-width: 100%;
    }

    .manage-content h2 {
        font-size: 38px;
    }

    .manage-content p {
        font-size: 16px;
    }

    .manage-list li {
        text-align: left;
        align-items: flex-start;
    }

    .manage-btn {
        width: 100%;
        margin: 25px auto 0;
    }

    .manage-image {
        margin-top: 40px;
    }

    .manage-image img {
        width: 100%;
        right: -20px;
        top: -20px;
    }
}