* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background: #ffffff;
    color: #111111;
}

header {
    width: 100%;
}

.navbar {
    max-width: 1300px;
    margin: 0 auto;

    padding: 30px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo {
    font-family: "menlo", sans-serif;
    font-style: bold;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}
.logo img {
    width: 30px;
    cursor: pointer;
    margin-top: 10px;
}

.nav-links {
    display: flex;
    gap: 50px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #111111;
    font-size: 16px;
    font-weight: 500;

}

.nav-links .home-nav {
    color: #4338ff;
    font-weight: 600;
}

.nav-links a:hover {
    color: #4338ff;
}

.ath-buttons {
    display: flex;
    gap: 15px;
}


.trust-badge {
    width: 220px;
}

.login-btn {
    padding: 14px 30px;
    background: #ece9ff;
    color: #4338ff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
}

.signup-btn {
    padding: 14px 30px;
    background: #4338ff;
    color: #ffffff;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
}

.hero {
    max-width: 13000px;
    margin: 0 auto;
    padding: 70px 50px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.hero-content {
    flex: 1;
}

.hero-content h1 {
    font-size: 50px;
    line-height: 1.14;
    margin-bottom: 30px;
    font-weight: 600;
    max-width: 640px;
}

.hero-content p {
    max-width: 580px;
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 40px;
    color: #3f3e3e;
}

.cta-btn {
    border: none;
    padding: 18px 40px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 80px;
    color: #ffffff;
    background-color: #4338ff;
    font-family: "Titillium Web", sans-serif;

}

.cta-btn:hover {
    transform: translateY(-2px);
    transition:  0.3s ease;
}

.platform-icons {
    display: flex;
    gap: 50px;
    align-items: center;
}  

.platform-icons img {
    height: 30px;
}

.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 650px;
}

.why-trustpay {
    max-width: 1200px;
    margin: 120px auto;
    padding: 0 40px;
}

.section-header {
    text-align: center;
    margin-bottom: 70px;
}

.section-header h2 {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 20px;
}

.section-header p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.7;
    color: #666;
}

.features-container {
    display: flex;
    gap: 40px;
}

.feature-card {
    flex: 1;
    border-radius: 35px;
    overflow: hidden;
    padding: 40px;
    overflow: hidden;
}

.milestone-card {
    background: linear-gradient(180deg, #4737ff, #3726ef);
    color: #ffffff;
}

.feature-card h3 {
    font-size: 36px;
    margin-bottom: 20px;
}

.feature-card p {
    line-height: 1.8;
    margin-bottom: 40px;
}

.security-card {
    background: #efedf9;
}

.feature-card img {
    width: 100%;
    display: block;
}





























































































































@media (max-width: 992px) {

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-content p {
        margin-left: auto;
        margin-right: auto;
    }

    .platform-icons {
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 56px;
    }
}


@media (max-width: 768px) {

    .features-container {
        flex-direction: column;
    }

    .section-header h2 {
        font-size: 42px;
    }

    .feature-card {
        padding: 30px;
    }

}

@media (max-width: 768px) {

    .navbar {
        padding: 20px;
    }

    .nav-links {
        display: none;
    }

    .hero {
        padding: 40px 20px;
    }

    .hero-content h1 {
        font-size: 42px;
    }

    .hero-content p {
        font-size: 18px;
    }

    .platform-icons {
        flex-direction: column;
        gap: 25px;
    }

    .hero-image img {
        max-width: 100%;
    }
}